@import 'layout/variables.scss';

.primaryButton {
    box-sizing: border-box;
    width: 100%;
    padding: $medium-padding;
    margin: $small-margin;
    background-color: $white;
    border: none;
    border-radius: $small-radius;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: $gray
    }
}

.lightButton {
    box-sizing: border-box;
    width: 100%;
    padding: $medium-padding;
    margin: $small-margin;
    background-color: $white;
    border: none;
    border-radius: $small-radius;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: $gray
    }
}