@import 'layout/variables.scss';

.primaryLink {
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  padding: $medium-padding;
  margin: $small-margin;
  background-color: $white;
  border: none;
  border-radius: $small-radius;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $gray;
  }
}

.lightLink {
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  padding: $medium-padding;
  margin: $small-margin;
  background-color: $white;
  border: none;
  border-radius: $small-radius;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $gray;
  }
}
