@import 'layout/variables.scss';

.mainContainer {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    padding: $medium-padding;
}