@import 'layout/variables.scss';

.primaryInput {
    box-sizing: border-box;
    width: 100%;
    padding: $medium-padding;
    background: $gray;
    margin: $small-margin;
    border-radius: $small-radius;
    border: none;
}

.lightInput {
    box-sizing: border-box;
    width: 100%;
    padding: $medium-padding;
    background: $white;
    margin: $small-margin;
    border-radius: $small-radius;
    border: none;
}